.search-button {
	font-size: 14px !important;
	padding: 10px 20px !important;
	border-radius: 6px !important;
}

ul {
	border: none !important;
}

.sort-by > span {
	position: relative !important;
}
.sort-by > div {
	margin-top: -20px;
}

.border-primary {
	border-color: var(--primary) !important;
	border-width: 1px !important;
}
